body {
  background-color: #f1f1f1 !important;
}

.registration {
  margin: 1rem;
}

.registration .title {
  text-align: center;
}

.registration .subtitle {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.registration form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
